.help__title
  background-color: $title-bg
  margin-bottom: 100px
  &_text
    +reg
    font-size: 32px
    height: 280px
    display: flex
    justify-content: center
    align-items: center
    width: 1170px
    margin: auto
    text-align: center
    line-height: 50px

.card-help
  max-width: 370px
  max-height: 410px
  display: flex
  flex-direction: column-reverse
  margin-right: 30px
  border: none
  text-align: left
  &:last-child
    margin-right: 0
  &__text
    +reg
    line-height: 23px
    font-size: 16px
    margin: auto
    &:nth-child(1)
      padding: 40px 85px 48px 26px
    &:nth-child(2)
      padding: 27px 50px 48px 25px
    &:nth-child(3)
      padding: 27px 64px 48px 25px
    &_bold
      +bold
  #text
    max-width: 280px
    &:last-child
      max-width: 280px

@media (max-width: 1200px)
  .help__title
    max-width: 100%
    margin: auto
    &_text
      max-width: 500px

@media (max-width: 768px)
  .help__title
    margin: auto
    height: 321px
    &_text
      display: flex
      justify-content: center
      align-items: center
      +bold
      line-height: 30px
      width: 100%
      font-size: 18px
      width: 268px
  .card-help
    margin: auto
    &_img
      &:last-child
        max-width: 92%
    &__text
      font-size: 14px
      text-align: center
      &:nth-child(1)
        padding-left: 0
        padding-right: 0
      &:nth-child(2)
        padding-left: 0
        padding-right: 0
      &:nth-child(3)
        padding-left: 0
        padding-right: 0
// @media (max-width: 567px)
  