.offer
  &__scroll
    position: fixed
    right: 10px
    bottom: 200px
    width: 50px
    height: 50px
    border-color: transparent
    border-radius: 50%
    background-color: #629460
    display: none
    &:hover,
    &:focus
      filter: brightness(1.5)
      outline: none
    &::before,
    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    &::before
      width: 5px
      height: 25px
      border-top-left-radius: 3px
      border-top-right-radius: 3px
      background-color: #f4f0f6 
    &::after
      width: 15px
      height: 15px
      transform: translate(-50%, -50%) rotate(45deg)
      border-top: 5px solid #f5f0f6
      border-left: 5px solid #f5f0f6

.offer
  background: url(../img/offer/image-offer.jpg) no-repeat 
  background-position: center right
  background-size: contain
  position: relative
  margin-top: -84px
  &__wrap
    display: inline
    position: relative
    margin-right: 10px
    &:nth-child(2)
      margin-right: 0
  &::before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #fff
  &-block
    width: 50%
    padding-right: 90px
    position: relative
  &__title
    max-width: 360px
    line-height: 35px
    margin-bottom: 19px
    margin-top: -7px
    text-align: left
  &__subtitle
    max-width: 250px
    display: block
    margin-bottom: 30px
    line-height: 20px
  &__input
    margin-bottom: 30px
    width: 240px
    padding: 23px 26px
    &:focus
      border-color: orange
      outline: none
  &__button
    +bold
    width: 100%
    min-height: 70px
    margin-bottom: 25px
  &__call
    display: flex
    justify-content: flex-start
    align-items: center
    &_manager
      +reg
      max-width: 247px
      line-height: 23px
      margin-right: 64px
    &_text
      +reg
      font-size: 15px
      line-height: 24px
    &_tel
      display: block
      text-decoration: none
      color: $text-color
      +bold
  &__form
      
@media (max-width: 1200px)
  .offer
    background-size: cover
    &__scroll
      visibility: hidden
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      font-size: 13px
    &__call
      flex-direction: column
      align-items: flex-start
      &_manager
        br
          display: none
@media(max-width: 768px)
  .offer
    background: #ffffff
    padding-bottom: 83px
    padding-top: 86px
    &__subtitle
      font-size: 14px
      margin-bottom: 23px
    &-block
      width: 100%
      padding-right: 0
    &__title
      font-size: 18px
      line-height: 20px
    &__input
      padding: 22px 23px 27px
      &:nth-child(1)
        margin-bottom: 5px
      &:nth-child(2)
        margin-bottom: 6px
    &__button
      padding: 18px 41px
      line-height: 18px
      font-size: 14px
      margin-bottom: 21px
    &__call
      flex-direction: column
      align-items: baseline
      &_manager
        line-height: 24px
        margin-bottom: 7px
        margin-left: 5px
        margin-right: 0
      &_text
        margin-left: 7px
      &_tel
        margin-left: 4px

      

    