.portfolio
  background: $secondary url(../img/portfolio/point-image.png)
  background-repeat: repeat-y
  background-position: -40px
  &__title
    margin: auto
    margin-bottom: 96px
    line-height: 43px
    font-size: 29px
    max-width: 786px
    letter-spacing: 0.1mm
    +bold
  &__arrows
    max-width: 120px
    margin: auto
    display: flex
    justify-content: space-between
  .slider
    margin-bottom: 50px
    &__image
      margin: auto
@media (max-width: 768px)
  .portfolio
    padding-top: 11px
    &__title
      font-size: 17px
      line-height: 23px
      margin-bottom: 39px
      width: 278px
    .slider
      margin-bottom: 29px
      &__image
        max-width: 90%