.portfolio
  background: $secondary url(../img/portfolio/point-image.jpg) repeat-y center left 
  &__title
    margin: auto
    margin-bottom: 100px
    line-height: 45px
    font-size: 29px
    max-width: 786px
    +bold
  &__arrows
    max-width: 120px
    margin: auto
    display: flex
    justify-content: space-between
  .slider
    margin-bottom: 68px
    &__image
      margin: auto